
@{
    ViewBag.Title = "Biology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Biology</h2>    
<img src="http://tweetboard.me/wp-content/uploads/anatomy-of-penguin-the-arctic-bird.gif" alt="penguinfamily" height="200">
<p>
    <ul>
        <li>Height: 44-48 in.</li>
        <li>Weight: 55-84 lb.</li>
        <li>Life expectancy in the wild: 20 years</li>
        <li>Approximated population: 595,000</li>
        <li>Population tendency: Stable</li>
    </ul>
</p>

