
@{
    ViewBag.Title = "Diet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Diet</h2>
<img src="http://farm8.staticflickr.com/7242/7379908452_a07b19ae4c.jpg" alt="penguinfamily" height="200" />
<p>A penguin's diet consists mainly of fish, crabs and other small sea creatures.
They eat as much as six kilograms (thirteen pounds) per day, but will go long periods of time without eating due to weather conditions.</p>

