@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Penguins!</h1>
    <p>Welcome to the world of penguins!  We're excited for you to learn with us about our tuxedoed friends.</p>
    <div>
        <img src="~/Content/Images/kisspng-chilly-willy-woody-woodpecker-penguin-logo-clip-ar-cute-penguins-5a9004ba288ee8.6238264515193878341661.png" alt="penguinfamily" height="315" style="float:right;" />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AazoQVgTMlw?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top 10 Penguin Facts</h2>
        <a href="~/Home/TopTen">
            <img src="https://i.ytimg.com/vi/kFxtatdbSkA/maxresdefault.jpg" alt="penguinfamily" height="200" />
        </a>
    </div>
    <div class="col-md-4">
        <h2>Penguin Games!</h2>
        <a href="https://www.funbrain.com/games/penguin-drop">
            <img src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Birds/A-G/emperor-penguin-colony.ngsversion.1412630284744.jpg" alt="penguinfamily" height="200" />
        </a>
    </div>
    <div class="col-md-4">
        <h2>What penguin are you?</h2>
        <a href="http://www.pewtrusts.org/en/multimedia/surveys-and-quizzes/2017/what-kind-of-penguin-are-you">
            <img src="https://www.critterbabies.com/wp-content/gallery/penguins/baby-penguins-animals-31184689-350-280.jpg" alt="penguinfamily" height="200" />
        </a>
    </div>
</div>