
@{
    ViewBag.Title = "TopTen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top 10 Penguin Facts</h2>
<li>All 17 species of penguins are found exclusively in the Southern Hemisphere.</li>
<li>Emperor Penguins are the tallest species, standing nearly 4 feet tall. The smallest is the Little Blue Penguin, which is only about 16 inches.</li>
<li>The fastest species is the Gentoo Penguin, which can reach swimming speeds up to 22 mph.</li>
<li>A penguin's color helps it stay camouflaged ; from above, its black back blends into the depths of the ocean. From below, its white belly is hidden against the bright surface.</li>
<li>Fossils place the earliest penguin relative at some 60 million years ago, meaning an ancestor of the birds we see today survived the mass extinction of the dinosaurs.</li>
<li>Penguins ingest a lot of seawater while hunting for fish, but a special gland behind their eyes—the supraorbital gland—filters out the saltwater from their blood stream. Penguins excrete it through their beaks, or by sneezing.</li>
<li>Unlike most birds—which lose and replace a few feathers at a time—penguins molt all at once, spending two or three weeks land-bound as they undergo what is called the catastrophic molt.</li>
<li>All but two species of penguins breed in large colonies of up to a thousand birds.</li>
<li>Penguin parents—both male and female—care for their young for several months until the chicks are strong enough to hunt for food on their own.</li>
<li>An anonymous entry from Vasco da Gama's 1497 voyage around the Cape of Good Hope makes mention of penguins as flightless birds, as large as ducks.</li>

